* {
  /*select everything*/
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* this is 10px... easy to count than */
}
html {
  font-size: 62.5%;
  color: #308cff;
  font-family: "Comforter", cursive;
}
a {
  color: #308cff;
  text-decoration: none;
}
ul li {
  list-style: none;
}
header {
  background-color: #0a0621;

  height: 7vh;
  align-items: center;
  display: flex;
  min-height: 10vh;
  width: 100%;
}
#logo {
  color: #75b3ff;
  font-size: 3rem;
  text-align: center;
  padding: 0rem 2rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
nav {
  flex: 1 1 auto;
}
.nav-list {
  display: flex;
  justify-content: flex-end;
  font-size: 4rem;
}
.nav-list,
ul,
li {
  padding: 4rem;
}

a {
  transition: all 0.2s ease-in-out;
}

a:hover {
  color: red;
  font-size: 6rem;
}

.main-section {
  width: 100%;
  height: 90vh;
  background-image: url("./img/pexels-xxss-is-back-777001.jpg");
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
.title {
  background-color: #0a0621;
  min-width: 100rem;
  height: 15vh;
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 40rem;
  opacity: 95%;
  display: flex;
  font-size: 6rem;
  justify-content: center;
  align-items: center;
  color: #75b3ff;
}

.title-description {
  padding: 4rem;
  text-align: center;
  transition: all 0.2s ease-in-out;
}
.title-description:hover {
  color: red;
  font-size: 7rem;
}
.gallery-title {
  font-size: 7rem;
  text-align: center;
  padding-top: 5rem;
  transition: all 0.2s ease-in-out;
}
.gallery-title:hover {
  color: red;
  font-size: 9rem;
}
.gallery-section {
  width: 100%;
  min-height: 100vh;
  background-color: #08031a;
}
.gallery {
  width: 100%;
  height: 100%;
  margin: auto;
  padding-top: 4rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.picture {
  height: 40rem;
  width: 50rem;
  margin: 4rem 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.picture img {
  max-width: 100%;
  max-height: 100%;
  transition: all 0.25s ease-in-out;
}
.picture img:hover {
  transform: scale(1.3);
}
.picture video {
  max-width: 100%;
  max-height: 100%;
  transition: all 0.25s ease-in-out;
}
.picture video:hover {
  transform: scale(1.3);
}
.contact-section {
  width: 100%;
  height: 90vh;
  background-color: #08031a;
}
.contact-title {
  font-size: 7rem;
  text-align: center;
  padding-top: 5rem;
  transition: all 0.2s ease-in-out;
}
.contact-title:hover {
  color: red;
  font-size: 9rem;
}
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
}
form label {
  font-size: 3rem;
  color: #b5d5fc;
  margin-top: 1rem;
}
form input,
form textarea {
  width: 40rem;
  background-color: #b5d5fc;
  padding: 1rem;
}
form input {
  height: 2rem;
}
form button {
  font-size: 4rem;
  color: #308cff;
  font-family: "Comforter", cursive;
  background-color: #0a0621;
  border: none;
  margin-top: 2rem;
  transition: all 0.2s ease-in-out;
}
form button:hover {
  color: red;
  font-size: 6rem;
}

footer {
  width: 100%;
  height: 10vh;
  background-color: black;
  display: flex;
  justify-content: space-between;
}
footer h2 {
  font-size: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 2rem;
  flex: 1;
}
.social {
  display: flex;
  align-items: center;
  flex: 2;
  justify-content: space-around;
}
.social img {
  height: 7rem;
}
