/* General Style */
body {
  margin: 0%;
}
h1 {
  text-transform: uppercase;
  font-family: "Patrick Hand", cursive;

  text-align: center;
  margin-top: 3%;
  color: #1a1a1a;
}
h1:hover {
  filter: grayscale(5%);
  transition: text-shadow 1s;
  text-shadow: 1px 1px 25px black;
}
.white-text {
  padding-top: 2%;
  color: #fff;
}
p {
  font-family: "Josefin Slab", serif;
  text-align: justify;
  letter-spacing: 1px;
  font-size: 20px;
  padding-left: 20px;
  padding-right: 20px;
}
p:hover {
  transition: text-shadow 1s;
  text-shadow: 1px 1px 25px black;
}
.center {
  text-align: center;
}
.center:hover {
  transition: text-shadow 1s;
  text-shadow: 1px 1px 25px black;
}
a {
  color: blue;
}
q {
  font-style: italic;
}
img {
  filter: grayscale(75%);
  border-radius: 8px;
  max-width: 100%;
  height: 340px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  object-fit: scale-down;
}
img:hover {
  filter: grayscale(5%);
  transition: transform 1s;
  transform: scale(1.05);
}

footer {
  padding: 2%;
  background-color: white;
}
/* Navbar --------------------------------------------*/
.Navbar {
  overflow: hidden;
  background-color: black;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  -webkit-animation: moveNav 5s;
  animation: moveNav 5s;
}
@keyframes moveNav {
  from {
    left: -100vw;
  }
  to {
    left: 0vw;
  }
}
.Navbar a {
  float: left;
  display: block;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-family: "Patrick Hand", cursive;
  font-size: 20px;
  text-align: center;
  position: relative;
  -webkit-animation: moveNavText 5.75s;
  animation: moveNavText 5.75s;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}
@keyframes moveNavText {
  from {
    top: -100vw;
  }
  to {
    top: 0vw;
  }
}
@media screen and (max-width: 576px) {
  .Navbar a {
    width: 25%;
    font-size: 12px;
  }
}
.Navbar a:hover {
  background-color: #f4f4f4;
  color: black;
  font-weight: bold;
}
.Navbar a.active {
  background-color: darkgray;
}
/* Video --------------------------------------- */

#Typing_Video {
  position: fixed;
  right: 0;
  bottom: 80px;
  min-width: 100%;
  z-index: -1;
}
@media screen and (max-width: 576px) {
  #Typing_Video {
    display: none;
  }
}
.Video_text {
  background: rgba(0, 0, 0, 0.5);
  color: white;
  min-width: 100%;
  padding: 20px;
  position: relative;
  -webkit-animation: moveVideoText 5.75s;
  animation: moveVideoText 5.75s;
}
@keyframes moveVideoText {
  from {
    top: -100vw;
  }
  to {
    top: 0vw;
  }
}

/***** Slideshow Styling *****/
#Slideshow_Background {
  background: rgba(255, 255, 255, 0.35);
}

.mySlides {
  display: none;
}

/* Slideshow section / container */
#Slideshow_Container {
  width: 39.5vw;
  height: auto;
  padding-top: 4%;
  position: relative;
  margin: auto;
}

#Slideshow_Container a {
  text-decoration: none;
}

/* Images contained within the slideshow */
.Slideshow_Images {
  vertical-align: middle;
  height: auto;
  box-shadow: 0px 5px 10px 12px rgba(0, 0, 0, 0.75);
  width: 100%;
}

/* Next and previous buttons */
.Previous,
.Next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 2vw;
  color: darkgray;
  font-weight: bold;
  font-size: 1.5vw;
  border-radius: 0 3px 3px 0;
  user-select: none;
  transition: 0.6s ease;
}

.Next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* Hover effect on slide show buttons */
.Previous:hover,
.Next:hover {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
}

/* Slideshow text */
.text {
  color: white;
  padding: 0.5vw;
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  font-family: "Josefin Slab", serif;
  letter-spacing: 0.1vw;
  font-size: 1vw;
  background-color: rgba(0, 0, 0, 0.75);
  font-weight: bold;
  border-radius: 0px 0px 7px 7px;
}

/* Styling of the dots under the slideshow */
.dot {
  cursor: pointer;
  height: 1vw;
  width: 1vw;
  margin: 0.3vw;
  background-color: white;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  z-index: 1;
}

/* Hover effect for slideshow dots */
.active,
.dot:hover {
  background-color: black;
}

/* Fading animation for slideshow */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
}
.contact {
  cursor: pointer;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
/*-------------------------------------------------- End Slideshow Styling -----------------------------------*/

/* Table -------------------------------------- */
* {
  box-sizing: border-box;
}
.Column_1 {
  float: left;
  width: 50%;
  padding: 5px;
  padding-top: 1%;
  height: 400px;
  background-color: #daa7fc;
}
@media screen and (max-width: 1100px) {
  .Column_1 {
    overflow: auto;
  }
  .Column_1 p {
    padding: 1px;
    margin: 0;
  }
}
.Column_1 p {
  text-align: center;
}
.Column_2 {
  float: left;
  width: 50%;
  padding: 10px;
  padding-top: 1.9%;
  height: 400px;
  background-color: #4d4d4d;
}
.Column_tall {
  padding-top: 3.5%;
  height: 450px;
}
.Row:after {
  content: "";
  display: table;
  clear: both;
}
.Pop_Up_Button {
  position: fixed;
  bottom: 1.75vw;
  right: 1.75vw;
  width: 25vw;
  background-color: white;
  color: black;
  border: solid black;
  cursor: pointer;
  -webkit-animation: movePopup 5s;
  animation: movePopup 5s;
}

/* movePopup animation moves the button from off the right side of the screen to its fixed location on the viewport */
@keyframes movePopup {
  from {
    right: -40vw;
  }
  to {
    right: 1.75vw;
  }
}

@-webkit-keyframes movePopup {
  from {
    right: -40vw;
  }
  to {
    right: 1.75vw;
  }
}

/* Styling for the contact form */
.form-popup {
  z-index: 8;
  display: none;
  position: fixed;
  bottom: 0.5vw;
  right: 0.5vw;
}

/* Form styling */
.form-container {
  max-width: 49vw;
  padding: 1vw;
  background-color: white;
}

/* Input fields */
.form-container input[type="text"] {
  width: 100%;
  padding: 0.93vw;
  margin: 0.6vw 0 0.6vw 0;
  border: none;
  background: Gainsboro;
  font-size: 1vw;
}

/* General styling for all buttons */
button {
  font-family: "Josefin Slab", serif;
  letter-spacing: 0.3vw;
  font-size: 1.5vw;
  font-weight: bold;
  padding: 1.5vw;
  cursor: pointer;
  width: 100%;
  height: auto;
}

/* Hover effect for contact and submit buttons */
button:hover,
.form-container .btn:hover {
  color: white;
  background-color: black;
  transition-duration: 1s;
  -webkit-transition-duration: 1s;
  border-color: silver;
}

/* Submit button */
.form-container .btn {
  background-color: white;
  color: black;
  border-color: black;
  margin-bottom: 1vh;
}

/* Close button */
.form-container .cancel {
  background-color: black;
  color: white;
  border-color: gray;
}

/* Styling for close button on hover */
.form-container .cancel:hover {
  color: white;
  background-color: darkred;
  transition-duration: 1s;
  -webkit-transition-duration: 1s;
  border-color: black;
}
/*-------------------------------------------End of Contact Form Styling ----------------------------------------------*/

@media screen and (max-width: 527px) {
  p {
    font-size: 3.75vw;
  }
}

@media screen and (min-width: 528px) and (max-width: 660px) {
  p {
    font-size: 3.5vw;
  }
}

@media screen and (min-width: 661px) and (max-width: 799px) {
  p {
    font-size: 2.75vw;
  }
}

@media screen and (min-width: 800px) and (max-width: 924px) {
  p {
    font-size: 2.5vw;
  }
}

@media screen and (min-width: 925px) and (max-width: 1050px) {
  p {
    font-size: 2.25vw;
  }
}

@media screen and (min-width: 1051px) and (max-width: 1310px) {
  p {
    font-size: 2vw;
  }
}

@media screen and (min-width: 1311px) and (max-width: 1535px) {
  p {
    font-size: 1.75vw;
  }
}

@media screen and (min-width: 1536px) and (max-width: 2269px) {
  p {
    font-size: 1.5vw;
  }
}

@media screen and (min-width: 2270px) {
  p {
    font-size: 1.35vw;
  }
}

/*Media rule for navbar links for different screen sizes*/

@media screen and (max-width: 1080px) {
  .Navbar a {
    width: 20%;
    font-size: 2.5vw;
  }
}

@media screen and (max-width: 1080px) {
  .quote {
    font-size: 3.5vw;
  }

  .white-text {
    font-size: 4.5vw;
  }
}

@media screen and (min-width: 1725px) {
  .Column_1 {
    height: 550px;
  }
  .Column_2 {
    height: 550px;
  }
}

@media screen and (min-width: 2000px) {
  h1 {
    margin-top: 0;
  }
}
/***** End of Media Query Section *****/
input[type="text"],
input[type="email"] {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  font-family: "Patrick Hand", cursive;
}
input[type="text"]:hover,
input[type="email"]:hover {
  box-shadow: 0 0 5px #00004d inset;
}
input[type="submit"] {
  background-color: black;
  color: white;
  font-weight: bold;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-family: "Patrick Hand", cursive;
}
input[type="submit"]:hover {
  background-color: white;
  color: black;
  transform: scale(1.5);
  transition: transform 1.5s;
}
form {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 10px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
